
.projectsContainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.relativeList {
    height: 100%;
    position: relative;
    max-width: 300px;
}

.projectsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    border-radius: 20px 20px 0 0;
    height: 95%;
    width: 15rem;
    position: absolute;
    bottom: 0;
    left: 2.5rem;
}

.projectContainer {
    height: 100%;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 170 170" xmlns="http://www.w3.org/2000/svg"><path fill="%234B5E76" d="M34.4,-54.9C46.7,-52.4,60.3,-47.5,59.5,-38C58.7,-28.4,43.5,-14.2,40.8,-1.6C38.1,11.1,47.8,22.2,50.6,35.1C53.3,48.1,49.1,62.9,39.5,72.5C29.9,82.2,15,86.5,3.6,80.3C-7.8,74.1,-15.6,57.3,-27.5,49.1C-39.4,40.8,-55.3,41,-67.4,34.2C-79.4,27.4,-87.5,13.7,-83.3,2.4C-79.2,-8.9,-62.7,-17.8,-53.7,-29.9C-44.8,-42,-43.4,-57.4,-35.7,-62.6C-28,-67.7,-14,-62.6,-1.5,-60C11,-57.4,22.1,-57.4,34.4,-54.9Z" transform="translate(102 72)" /></svg>');
    background-repeat: no-repeat;
    background-position: right;
}

p {
    font-family: var(--normal-text);
}

/*Gains Tracker*/

#GainsTracker, #WerkenBijDrogisterij, #BobBot {
    position: relative;
    display: grid;
    grid-template-columns: auto 50%;
    height: 100%;
    align-items: center;
}

.gainsTrackerHeader, .wbdHeader, .bobHeader {
    margin: 0;
}

.gainsTrackerImg, .wbdImg, .bobImg {
    height: auto;
    width: 70%;
    max-width: 300px;
    border-radius: 17px;
    justify-self: center;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.infoButton {
    display: none;
}

/*Media querys*/

@media only screen and (min-width: 1200px) {
    .projectsContainer {
        grid-template-columns: 20% 80%;
    }
}

@media only screen and (max-width: 1100px) {
    .projectsList {
        width: 13rem;
    }
}

@media only screen and (max-width: 1000px) {
    .projectsList {
        display: none;
    }

    .infoButton {
        color: var(--foreground);
        border-radius: 20px;
        border: none;
        font-family: var(--normal-text);
        width: 10rem;
        height: 2rem;
        position: relative;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: var(--background);
    }

    .relativeList {
        display: none;
    }

    .projectsContainer {
        grid-template-columns: 100%;
    }

    #GainsTracker p, #WerkenBijDrogisterij p, #BobBot p {
        display: none;
    }

    #GainsTracker, #WerkenBijDrogisterij, #BobBot {
        grid-template-columns: 100%;
    }

    #GainsTracker img, #WerkenBijDrogisterij img, #BobBot img {
        width: 65%;
        height: auto;
    }

    .headerTextContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (min-width: 1000px) {

}

/*CSS transitions*/

.fadeOut{
    transform: translate(-20px, 0);
    opacity: 0;

}
.fadeIn{
    opacity: 1;
    transform: translate(0px, 0px);
}

.projectButton {
    color: var(--text);
    border-radius: 20px;
    border: none;
    font-family: var(--normal-text);
    width: 90%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    height: 2rem;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectButton:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--sections);
    z-index: -2;
}

.projectButton:before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.3s;
    border-radius: 10rem;
    background-color: var(--button);
    z-index: -1;
}

.projectButton:hover:before {
    width: 100%;
}

.projectButton:hover {
    cursor: pointer;
}

