
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem 0 2rem;
    width: 100%
}

.buttonContainer {
    display: flex;
}

.linkButton {
    background-color: var(--button);
    color: var(--text);
    border-radius: 20px;
    border: none;
    font-family: var(--normal-text);
    width: 10rem;
    height: 2rem;
    margin-left: 1rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkButton:hover {
    background-color: #4B5E76;
}

img {
    height: 2.5rem;
}
