p {
    font-family: var(--header-text);
    font-weight: normal;
    color: var(--text);
    text-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
}

h2 {
    font-family: var(--header-text);
    color: var(--text);
    text-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5rem;
    text-align: center;
}

.tech-icon {
    height: 5rem;
    width: auto;
}

.current {
    margin-top: 0;
}

.known {
    background-color: var(--background);
    min-width: 20rem;
    border-radius: 17px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    grid-auto-rows: minmax(100px, auto);
    gap: 2rem;
    padding: 2rem;
}

.languagesAndFrameworks {
    margin: 0 2rem;
}   

.intro {
    margin: 0 3rem 0 5rem
}
.infoContainer {
    margin: 0;
    display: flex;
    align-items: center;
}


@media screen and (max-height: 800px) {
    h2 {
        font-size: 28px;
    }

    .intro p {
        font-size: 26px;
    }

}

@media screen and (max-width: 900px) {
    .infoContainer {
        max-width: 500px;
    }

    .intro {
        font-family: var(--header-text);
        font-weight: normal;
        color: var(--text);
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
        margin: 0;
    }

    .intro p {
        font-size: 18px;
    }

    h2 {
        font-size: 22px;
    }
    
    .tech-icon {
        height: 3rem;
        width: auto;
    }
}


@media screen and (max-width: 768px) {
    .intro p {
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
    }
    
    .known {
        min-width: 8.5rem;
    }
}


